* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
    
    .div-container {
        font-family:Arial, Helvetica, sans-serif;
        background-color: #FFDFD3;
        display: flex;
        flex-direction: column;
    }
    
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header .logo img {
        width: 95%;
        height: 95%;
    }
    
    header .logo {
        display: flex;
        text-align: center;
        justify-content: center;
        /* width: 320px;
        height: 330px; */
    }

    .nav {
        background-color: #957DAD;
        width: fit-content;
    }

    .nav-contenedor {
        background-color: #957DAD;
    }

    .nav-contenedor ul li a {
        color: azure;
    }

    .nav-contenedor ul li a:hover {
        color: black;

    }
    
    /* .nav ul {
        display: flex;
        width: 100%;
        height: 80px;
        margin-top: 0;
        border: 30px;
        padding: 15px;
        background-color: #D291BC;
        justify-content: space-around;
    } */
    
    /* nav ul li {
        font-family: Inter;
        font-size: 32px;
        font-style: italic;
        color: aliceblue;
        text-decoration: none;
        list-style: none;
    } */
    
    /* nav ul li a {
        top: 12px;
        color: aliceblue;
        text-decoration: none;
    } */
    
    .contenedor-arriba {
        width: 99%;
        height: 500px;
        /*margin-left: 20px;
        margin-right: 20px;*/
        border-radius: 40px;
        background-color: #957DAD;
        /* display: flex;
        justify-content: space-between; */
    }
    
    .contenedor-abajo {
        width: 95.5%;
        height: 95%;
        /* margin-bottom: 5%; */
        margin: 0.5%;
        border-radius: 40px;
        background-color: #957DAD;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    main {
        display: flex;
        flex-direction: column;
        margin: 2.5%;
    }

    .contenedor-abajo a img{
        width: 90%;
        height: 514px;
        border-radius: 23px;
        margin: 5%;
    }
    
    
    .contenedor-arriba img{
        width: 93%;
        height: 90%;
        border-radius: 23px;
        margin-top: 5%;
        margin-left: 3.8%;
        margin-bottom: 1%;
    }
    
    .contenedor-abajo img{
        width: 93%;
        height: 90%;
        border-radius: 23px;
        margin: 1%;
    }

    .Formulario
{
    position: relative;
    top: 50px;
    left: 200px;
}
.Formulario ul
{
    list-style: none;
}

input[type="text"], input[type="number"], input[type="email"], textarea 
{
    width: 400px;
    padding: 20px 30px;
    margin-bottom: 18px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(223, 219, 219);
    font-size: 17px;
}
#Enviar
{   
    background-color: rgb(223, 219, 219);
    width: 95px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(187, 186, 186);
}
#Enviar a:hover
{
    color: rgb(73, 71, 71);
    background-color: rgb(187, 186, 186);
    padding: 10px 20px;
}
#Enviar h3
{
    color: rgb(54, 53, 53);
    text-align: center;
    margin-top: 8px;
}
#Enviar a
{
    text-decoration: none;
}

.RedesSociales
{
    position: absolute;
    right: 100px;
    top: 50px;
}

.RedesSociales h2
{
    margin-bottom: 30px;
    color: rgb(105, 104, 103);
}

.RedesSociales img
{
    width: 50px;
    height: 50px ;
    margin-right: 10px;
}

.contenedor-panel {
    width: 40%;
    height: 450px;
    margin-bottom: 20px;
    border-radius: 40px;
    background-color: #957DAD;
    display: flex;
    justify-items: center;
    align-items: center;
}

.contenedor-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    /* margin-top: 5%; */
    /* align-items: center; */
}

.contenedor-panel img {
    width: 65%;
    height: 90% ;
    filter: invert();
}

.container-fluid .agregar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorArriba1 {
    width: 70%;
    height: 390px;
    border-radius: 40px;
    margin-top: 7px;
    margin-bottom: 5px;
    background-color: #957DAD;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 98%;
    display: flex;
    height: 90%;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
    border-radius: 23px;
    margin-top: 1%;
    margin-left: 1.2%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.contenedorArriba2 img:hover {
    cursor: crosshair;
    width: 20%;
    opacity: 1;
    filter: contrast(120%);
}

.imagen-carrusel {
    width: 100%;
}

.imagen-carrusel img {
    width: 100%;
}

.contenedorArriba2 {
    width: 99%;
    height: 600px;
    border-radius: 40px;
    background-color: #957DAD;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Medias queries de 320 a 480 px */

