* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    }
    
    body {
        font-family:Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #FFDFD3;
    }
    
    h1 {
        margin-top: 0;
    }
    
    header {
        display: flex;
        justify-content: center;
        top: 0;
        bottom: 100px;
    }
    
    header .logo img {
        width: 100%;
        height: 90%;
    }
    
    header .logo {
        text-align: center;
        width: 400px;
        height: 325px;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80px;
        margin-top: 0;
        border: 30px;
        padding: 15px;
        background-color: #D291BC;
        justify-content: space-around;
    }
    
    nav ul li {
        font-family: Inter;
        font-size: 32px;
        font-style: italic;
        color: aliceblue;
        text-decoration: none;
        list-style: none;
    }
    
    nav ul li a{
        top: 12px;
        color: aliceblue;
        text-decoration: none;
    }
    
    .contenedor-arriba {
        width: 99%;
        height: 500px;
        border-radius: 40px;
        background-color: #957DAD;
        display: flex;
        justify-content: space-between;
    }
    
    .contenedor-abajo {
        width: 95.5%;
        margin: 0.5%;
        border-radius: 40px;
        background-color: #957DAD;
        display: flex;
        justify-content: space-around;
    }
    
    main {
        display: inline-block;
        position: relative;
        width: 100%;
    }

    .contenedor-abajo a img{
        width: 90%;
        height: 514px;
        border-radius: 23px;
        margin: 5%;
    }
    
    
    .contenedor-arriba img{
        width: 93%;
        height: 90%;
        border-radius: 23px;
        margin-top: 5%;
        margin-left: 3.8%;
        margin-bottom: 1%;
    }
    
    .contenedor-abajo img{
        width: 93%;
        height: 90%;
        border-radius: 23px;
        margin: 1%;
        transition: all 700ms ease-out;

    }

    .Formulario
{
    position: relative;
    top: 50px;
    left: 200px;
}
.Formulario ul
{
    list-style: none;
}

input[type="text"], input[type="number"], input[type="email"], textarea 
{
    width: 400px;
    padding: 20px 30px;
    margin-bottom: 18px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(223, 219, 219);
    font-size: 17px;
}
#Enviar
{   
    background-color: rgb(223, 219, 219);
    width: 95px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(187, 186, 186);
}
#Enviar a:hover
{
    color: rgb(73, 71, 71);
    background-color: rgb(187, 186, 186);
    padding: 10px 20px;
}
#Enviar h3
{
    color: rgb(54, 53, 53);
    text-align: center;
    margin-top: 8px;
}
#Enviar a
{
    text-decoration: none;
}

.RedesSociales
{
    position: absolute;
    right: 100px;
    top: 50px;
}

.RedesSociales h2
{
    margin-bottom: 30px;
    color: rgb(105, 104, 103);
}

.RedesSociales img
{
    width: 50px;
    height: 50px ;
    margin-right: 10px;
}

.contenedor-panel {
    width: 40%;
    height: 450px;
    margin-bottom: 20px;
    border-radius: 40px;
    background-color: #957DAD;
    display: flex;
    justify-items: center;
    align-items: center;
}

.contenedor-flex {
    display: flex;
    justify-content: center;
}

.contenedor-panel img {
    width: 65%;
    height: 90% ;
    filter: invert();
}

.container-fluid .agregar {
    display: flex;
    justify-content: center;
    align-items: center;

}

.iconoseditar div
{
    width: 60px;
    height: 60px;
    
}

.iconoseditar1
{
    position: relative;
    width: 50px;
    height: auto;
    bottom: 125px;
    left: 75%;
    display: flex;
   
    
}
#borrar2
{
 position: absolute;
 top: 50px;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 
}

.container-card {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container-card-item {
    width: 350px;
}

.Animacion
{
    position: absolute;
    top: 5px;
    left: 8px;
    width: 87%;
    height: 522px;
    margin: 25px 23px;
    border-radius: 5%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    justify-content: center;
}

@media (1000px <= width <= 1300px) {
    .container-card-item {
        width: 230px;
    }
}

@media (850px <= width <= 900px) {
    .container-card-item {
        width: 280px;
    }
}

@media (800px <= width <= 850px) {
    .container-card-item {
        width: 370px;
    }
}
@media (750px <= width <= 800px) {
    .container-card-item {
        width: 350px;
    }
}
@media ( width <= 750px) {
    .container-card-item {
        width: 100%;
    }
    .Animacion:hover::after {
        opacity: 1;
        visibility: visible;
        
     }

.Animacion::after {
    content: "Tournesol Desde $20.000 ";
    position: absolute;
    top: 5px;
    left: 8px;
    width: 87%;
    height: 522px;
    margin: 25px 23px;
    border-radius: 5%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    opacity: hidden;
    text-align: center;
    transition: opacity 0.5s;
 }
 


}