*
{
  margin: 0px;
}
.BotonInicio

{

    height: 290px;

    width: 340px;

}

nav ul

{

    background-color: #D291BC;

    display: flex;

    list-style: none;

    padding: 20px;  

}

nav li

{

    position: relative;

    left: 250px;

    margin: 0 35px ;

}

 

nav a

{  

    text-decoration: none;

    color:#FBFEFF;

    font-size: 25px;

    font-family: Arial, Helvetica, sans-serif;

}

body
{
    background-color: #FFDFD3;
}


 

.sobreFondo
{
  background-color: #AC86A5;
  border-radius: 40px;
  height: 550px;
  margin: 0px 120px ;
  position: relative;
  top: 40px;
}

.texto
{
  height: 300px;
  width: 360px;
  position: absolute;
  right: 130px;
  bottom: 150px;
  color: #FBFEFF;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align:justify;
}

.texto p
{
  height: 350px;
  width: 450px;
  color: #FBFEFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.texto h2
{
  margin-bottom: 20px;
}
.texto h4
{
  position: absolute;
  left: 0;
  bottom: 50px;
 
}

#enlaceComprar
{
  position: absolute;
  right: 50px;
  bottom: 30px;
  padding: 5px;
  background-color: rgb(254, 133, 242);
  text-decoration: none;
  padding: 15px;
  border-radius: 15PX;
}

#enlaceComprar a
{
  font-size: 20px;
  color: rgb(246, 237, 237);
  text-decoratio

}

#enlaceComprar a:hover
{
  
  color: black;
 box-shadow: 5px 5px 5px 5px;

  
}
 
.imagenProducto img
{
  filter: drop-shadow(10px 5px 20px black);
  border-radius: 30px;
  position: absolute;
  left: 80px;
  top: 80px;
  bottom: 10px;
  transform: rotate(340deg);
  width: 360px; 
  height:390px;
}
